body {
    font-family: 'Merriweather', serif;
}

.container {
    max-width: 800px;
    margin: auto;
}

.fa-solid {
    color: grey;
    width: 5px;
}

.main-img {
    width: 40%;
    display: block;
    margin: auto;
}

h1 {
    font-size: 5em;
    text-align: center;
    margin: 10px;
    font-weight: lighter;
}

h2 {
   display: inline-block;
   font-weight: lighter;
   margin: 5px;
}

article a {
    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-size: 1.5em;
}

p {
    font-size: 0.7em;
    line-height: 1.8;
}

.about-us {
    padding: 20px;
    margin: 30px;
    font-size: 0.9em;;
    text-align: center;
    border-top: 3px solid rgb(187, 187, 187);
    border-bottom: 3px solid rgb(187, 187, 187);;
}

article {
    display: inline-block;
    width: 24%;
}

footer {
    margin: 40px;
    text-align: center;
    color: grey;
    font-size: 0.8em;
}